<p><%= link_to "今日のシフトを表示する", shifts_path,method: :post%></p>

<% @shifts.order("content_of_work").each do |shift| %>
	<%= shift.staff.name %>
	<%= shift.start.strftime("%H:%M") %>~<%= shift.end.strftime("%H:%M") %>
	<%= shift.content_of_work %>
	<%= link_to "編集", edit_shift_path(shift) %>
	<br>
<% end %>